// product-gallery
.product-gallery {
  text-align: center;
  .title_product-gallery {
    h2 {
      font-weight: $fw_900;
      font-size: $fs_5;
      color: $color_black_1;
      margin-top: 80px;
      line-height: 1.2;
    }
    p {
      color: $color_gray_2;
      font-size: $fs_4;
      padding: 14px 0 0;
    }
  }
  .gallery_product-gallery {
    .div4_2 {
      .item_product-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        .item {
          width: 100%;
          border: 1px solid #e5e5e5;
          text-align: left;
          .item_top {
            img {
              width: 100%;
              background-color: #f3f3f3;
            }
          }
          .product_group {
            background-color: #fff;
            padding: 26px 10px 28px 10px;
            border-top: 1px solid #e5e5e5;
            .item_bot {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .product {
                h3 {
                  font-weight: $fw_400;
                  text-transform: uppercase;
                  font-size: $fs_2;
                  color: $color_black_1;
                  line-height: 1.2;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  position: relative;
                }
                p {
                  color: #d26b31;
                  font-weight: $fw_700;
                  font-size: $fs_2;
                  line-height: 1;
                  margin-top: 15px;
                }
              }
              .shopping {
                i {
                  color: #fff;
                  width: 40px;
                  height: 40px;
                  line-height: 40px;
                  text-align: center;
                  background-color: #87b106;
                  border-radius: 50%;
                  font-size: 18px;
                }
              }
            }
            .ratings {
              i {
                color: $color_gray_2;
                
              }
            }
          }
        }
      }
    }
  }
}
