// color
$color_white_1: #fff;
$color_black_1: #222222;
$color_gray_1: #777777;
$color_gray_2: #555555;
$color_green_1: #87b106;
$color_gray_3: #efefef;
$color_border: #e5e5e5;


// font-size
$fs_1: 14px;
$fs_2: 16px;
$fs_3: 17px;
$fs_4: 20px;
$fs_5: 24px;
$fs_6: 30px;
$fs_7: 46px;
$fs_8: 160px;

// font-weight
$fw_400: 400;
$fw_500: 500;
$fw_600: 600;
$fw_700: 700;
$fw_900: 900;

